openapi: 3.0.0
info:
  version: 1.0.0
  title: otusk8s3
servers:
  - url: 'http://arch.homework'
paths:
  /users:
    post:
      summary: 'Creates a user'
      operationId: createUser
      tags:
        - user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        description: The user to create.
        required: true
      responses:
        '201':
          description: 'Details about a created user'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWithID'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: 'Returns a list of users'
      operationId: listUser
      tags:
        - user
      responses:
        '200':
          description: 'A list of users'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserWithID'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user/{user_id}/:
    get:
      tags:
        - user
      summary: Retrieves a user by an identifier.
      operationId: getUser
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: Details of user by ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWithID'
    patch:
      tags:
        - user
      summary: Update a user by an identifier
      operationId: updateUser
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        description: The user to update
        required: true
      responses:
        '200':
          description: Details of updated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWithID'
    delete:
      tags:
        - user
      summary: Delete a user by an identifier
      operationId: deleteUser
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '204':
          description: Success

  /liveness:
    get:
      summary: 'Indicates whether the application is running.'
      operationId: liveness
      tags:
        - probe
      responses:
        '200':
          description: 'The application is running.'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  parameters:
    UserID:
      in: path
      name: user_id
      required: true
      description: A user identifier
      schema:
        type: string

  schemas:
    User:
      type: object
      required:
        - name
      properties:
        name:
          type: string
    UserWithID:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
